.s-search-colleges {
  .s-search-colleges__box {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: to-rem(12);

    @media (min-width: 768px) {
      grid-template-columns: 1fr 24.4375rem;
      gap: to-rem(16);
      align-items: flex-start;
    }

    @media (min-width: 1200px) {
      grid-template-columns: 1fr 42.5rem;
      gap: to-rem(68);
    }
  }

  .s-search-colleges__img {
    display: flex;
    justify-content: center;

    @media (min-width: 768px) {
      justify-content: flex-start;
    }
  }
}
