.m-profession-card {
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: var(--a-padding-x6) var(--a-padding-x4);
  background-color: var(--color-gray-light);
  border-radius: var(--border-radius-x6);
  gap: to-rem(20);

  @media (min-width: 992px) {
    padding: var(--a-padding-x6);
    gap: to-rem(32);
  }

  @media (min-width: 1200px) {
    padding: var(--a-padding-x8) var(--a-padding-x6);
    gap: to-rem(32);
  }

  .m-profession-card__status {
    width: 100%;
    margin-bottom: to-rem(6);
  }

  .m-profession-card__box {
    width: 100%;

    @media (min-width: 992px) {
      display: flex;
      justify-content: space-between;
      gap: to-rem(12);
    }
    @media (min-width: 1200px) {
      gap: to-rem(20);
    }
  }

  .m-profession-card__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: var(--a-margin-x3);
    padding-bottom: var(--a-padding-x3);
    border-bottom: to-rem(1) solid var(--color-violet-10);

    &:nth-last-child(2) {
      margin-bottom: var(--a-margin-x6);
      padding-bottom: 0;
      border: none;

      @media (min-width: 992px) {
        margin-bottom: 0;
        padding: var(--a-padding-x3) var(--a-padding-x4);
        border: to-rem(1) solid var(--color-violet-10);
        border-radius: var(--border-radius-x4);
      }
    }

    @media (min-width: 992px) {
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 0;
      padding: var(--a-padding-x3) var(--a-padding-x4);
      border: to-rem(1) solid var(--color-violet-10);
      border-radius: var(--border-radius-x4);
    }
  }

  .m-profession-card__title {
    display: flex;
    flex-direction: column-reverse;
    gap: to-rem(12);

    span {
      display: flex;
      justify-content: center;
      align-items: center;
      width: fit-content;
      padding: var(--a-padding-x2) var(--a-padding-x3);
      background-color: var(--color-violet-40);
      border-radius: var(--border-radius-x5);
    }

    h4::first-letter {
      text-transform: uppercase;
    }

    @media (min-width: 992px) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  .m-profession-card__wrap {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    width: 100%;
    gap: to-rem(8);

    @media (min-width: 992px) {
      max-width: to-rem(282);
      gap: to-rem(12);
    }
    @media (min-width: 1200px) {
      max-width: to-rem(391);
    }
  }
}
