.m-question-card {
  width: 100%;
  padding: var(--a-padding-x4);
  background-color: var(--color-gray-light);
  border-radius: var(--border-radius-x6);
  @media (min-width: 1280px) {
    padding: var(--a-padding-x8) var(--a-padding-x10);
    border-radius: var(--border-radius-x8);
  }

  &__inner {
    display: flex;
    flex-direction: column;
    gap: to-rem(20);

    @media (min-width: 1280px) {
      gap: to-rem(24);
    }
  }

  &__date {
    position: absolute;
    top: 0;
    right: 0;
  }

  &__question {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: to-rem(16);

    &-name {
      display: flex;
      flex-direction: column;
      gap: to-rem(8);
      @media (min-width: 1280px) {
        flex-direction: row;
        gap: to-rem(12);
      }
    }

    &-theme {
      width: fit-content;
      padding: var(--a-padding-x1) var(--a-padding-x3);
      border: to-rem(1) solid var(--color-violet-80);
      border-radius: to-rem(20);
    }
  }

  &__answer {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-left: to-rem(20);
    border-left: to-rem(1) solid var(--color-violet-10);
    gap: to-rem(8);

    &-name {
      display: flex;
      gap: to-rem(4);
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: to-rem(20);

    &-buttons {
      position: relative;
      display: flex;
      gap: to-rem(10);

      &:hover {
        .m-question-card__actions-hint {
          display: block;
        }
      }

      b {
        cursor: pointer;
      }
    }

    &-hint {
      position: absolute;
      top: to-rem(-10);
      left: to-rem(-10);
      display: none;
      padding: var(--a-padding-x3);
      background-color: var(--color-violet-10);
      border: to-rem(1) solid var(--color-violet-100);
      border-radius: var(--border-radius-x3);
      white-space: nowrap;
    }

    &-action {
      display: flex;
      align-items: center;
      gap: to-rem(6);
      cursor: pointer;

      svg {
        position: relative;
      }

      &.like {
        svg {
          top: to-rem(-2);
        }
      }

      &.dislike {
        svg {
          top: to-rem(3);
          transform: scaleY(-1);
        }
      }

      &.active {
        path {
          fill: var(--color-violet-80);
        }
      }
    }
  }
}
