.a-search {
  position: relative;
  z-index: var(--z-index-search);
  display: flex;
  align-items: center;

  .a-search__input {
    width: 100%;
    height: 100%;
    min-height: to-rem(40);
    padding: 0 var(--a-padding-x4);
    color: var(--color-black);
    background: var(--color-white);
    border: to-rem(1) solid var(--color-gray-search);
    border-radius: to-rem(100);
    transition: all ease 0.3s;

    &:hover,
    &:focus {
      border: to-rem(1) solid var(--color-gray-search-hover);
    }
  }

  .a-search__icon {
    position: absolute;
    top: 50%;
    right: to-rem(4);
    display: flex;
    justify-content: center;
    align-items: center;
    width: to-rem(32);
    height: to-rem(32);
    padding: 0;
    background-color: transparent;
    border: none;
    border-radius: 100%;
    cursor: pointer;
    transition: all ease 0.3s;
    transform: translate(0, -50%);

    &::before {
      content: '';
      display: block;
      width: to-rem(20);
      height: to-rem(20);
      background: url('../icons/search.svg') no-repeat 0 0 / cover;
    }

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      padding: to-rem(25);
      transform: translate(-50%, -50%);
    }
  }

  &.active {
    width: 100%;

    .a-search__icon {
      background-color: var(--color-orange);

      &::before {
        background: url('../icons/search-w.svg') no-repeat 0 0 / cover;
      }
    }
  }

  &.a-search--big {
    .a-search__dropdown {
      top: to-rem(48);
      @media (min-width: 1200px) {
        top: to-rem(94);
      }
    }

    .a-search__input {
      height: to-rem(44);
      font-size: to-rem(20);

      @media (min-width: 1200px) {
        height: to-rem(90);
        padding: 0 var(--a-padding-x6);
        font-size: to-rem(28);
      }
    }

    .a-search__icon {
      right: to-rem(4);
      width: to-rem(36);
      height: to-rem(36);

      @media (min-width: 1200px) {
        right: to-rem(16);
        width: to-rem(58);
        height: to-rem(58);
      }

      &::before {
        width: to-rem(20);
        height: to-rem(20);

        @media (min-width: 1200px) {
          width: to-rem(24);
          height: to-rem(24);
        }
      }
    }
  }

  .a-search__dropdown {
    position: absolute;
    z-index: -1;
    top: to-rem(44);
    width: 100%;
    padding: var(--a-padding-x3) var(--a-padding-x3) var(--a-padding-x3) 0;
    background-color: var(--color-white);
    border-radius: var(--border-radius-x6);
    box-shadow: 0 4px 52px 0 rgb(38 38 38 / 13%);
    text-align: left;

    @media (min-width: 1200px) {
      padding: var(--a-padding-x6) var(--a-padding-x6) var(--a-padding-x6) 0;
      border-radius: var(--border-radius-x8);
    }

    .a-search__dropdown-wrapper {
      display: flex;
      overflow: auto;
      flex-direction: column;
      max-height: to-rem(288);
      gap: to-rem(16);
      @media (min-width: 1200px) {
        max-height: to-rem(406);
        gap: to-rem(24);
      }
    }
  }
}
