:root {
  --color-black: #343434;
  --color-white: #fff;
  --color-red: #dc593c;
  --color-violet-5: #f2eff8;
  --color-violet-10: #dbd8e8;
  --color-violet-20: #e3deff;
  --color-violet-40: #d9cffe;
  --color-violet-60: #bfb3ee;
  --color-violet-80: #977ad6;
  --color-violet-100: #4c3b8a;
  --color-orange: #fd8b21;
  --color-orange-hover: #f38117;
  --color-gray: #8e8e8e;
  --color-gray-light: #f6f6f6;
  --color-gray-search: #d3d8e3;
  --color-gray-search-hover: #a8b2c7;
  --color-green: #49a57e;
}
