:root {
  --z-index-header: 100;
  --z-index-popup: 1001;
  --z-index-popup-backdrop: 3;
  --z-index-popup-container: 4;
  --z-index-menu-popup: 3;
  --z-index-search: 2;
  --z-index-menu-directions: 2;
  --z-index-select-input: 10;
  --z-index-select-list: 4;
  --z-index-tags: 1;
  --z-index-map: 1002;
  --z-index-markers: 1100;
  --z-index-markers-upper: 1500;
}
