.m-main-list {
  display: grid;
  align-items: center;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  gap: to-rem(12);

  @media (min-width: 992px) {
    grid-template-columns: repeat(4, 1fr);
  }

  @media (min-width: 1200px) {
    gap: to-rem(16);
  }

  .m-main-item {
    display: flex;
    align-items: center;
    height: to-rem(60);
    padding: 0 to-rem(16);
    color: var(--color-white);
    background: var(--color-violet-100);
    border-radius: var(--border-radius-x3);
    text-align: left;
    @media (min-width: 992px) {
      justify-content: center;
      height: to-rem(54);
      padding: 0 to-rem(35);
    }

    @media (min-width: 1200px) {
      height: to-rem(76);
      padding: 0 to-rem(40);
      border-radius: var(--border-radius-x4);
    }

    > div {
      display: flex;
      flex-wrap: wrap;
    }

    &::before {
      content: '';
      flex: 0 0 auto;
      width: to-rem(24);
      height: to-rem(24);
      margin-right: to-rem(6);

      @media (min-width: 992px) {
        width: to-rem(28);
        height: to-rem(28);
      }

      @media (min-width: 1200px) {
        width: to-rem(36);
        height: to-rem(36);
        margin-right: to-rem(16);
      }
    }

    &.m-main-item--college {
      &::before {
        background: url('../img/main/icon/college.svg') 0 0 / cover;
      }
    }

    &.m-main-item--directions {
      &::before {
        background: url('../img/main/icon/directions.svg') 0 0 / cover;
      }
    }

    &.m-main-item--specialties {
      &::before {
        background: url('../img/main/icon/specialties.svg') 0 0 / cover;
      }
    }

    &.m-main-item--professions {
      &::before {
        background: url('../img/main/icon/professions.svg') 0 0 / cover;
      }
    }
  }
}
