.s-professions {
  .container {
    overflow: hidden;
  }

  .s-professions__box {
    position: relative;
  }

  .s-professions__wrapper {
    // padding-right: var(--a-padding-x10);
  }

  .swiper-slide {
    display: flex;
    flex-direction: column;
    height: auto;
  }

  &__title {
    margin-bottom: var(--a-margin-x10);
  }
}
