@import 'https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,400;8..144,500;8..144,600;8..144,700&display=swap';

@font-face {
  font-family: SuisseIntl;
  src: url('/fonts/SuisseIntl-Regular.woff2') format('woff'), url('/fonts/SuisseIntl-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: TTNorms;
  src: url('/fonts/TTNorms-Medium.woff2') format('woff'), url('/fonts/TTNorms-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
