.m-social {
  display: flex;
  align-items: center;
  gap: to-rem(8);
  margin-top: to-rem(10);

  .m-social__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: to-rem(32);
    height: to-rem(32);
    background-color: var(--color-orange);
    border-radius: 100%;
  }

  .m-social__vk {
    &::before {
      content: url('~/public//icons/vk.svg');
    }
  }

  .m-social__youtube {
    &::before {
      content: url('~/public/icons/youtube.svg');
    }
  }

  .m-social__telegram {
    &::before {
      content: url('~/public/icons/telegram.svg');
    }
  }
}
