.s-news-head {
  overflow: hidden;
  background-color: var(--color-violet-40);
  background-image: url('/img/decor-logo.svg');
  background-repeat: no-repeat;
  background-position: -5% 26%;
  background-size: to-rem(600);

  @media (min-width: 768px) {
    background-image: none;
  }

  &__inner {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: var(--a-padding-x6) 0 var(--a-padding-x4);
    gap: to-rem(16);

    @media (min-width: 768px) {
      gap: to-rem(24);
      background-image: url('/img/decor-logo.svg');
      background-repeat: no-repeat;
      background-position: 174% 44%;
      background-size: 70%;
    }
    @media (min-width: 1280px) {
      gap: to-rem(48);
    }
  }

  &__tags {
    display: flex;
    gap: to-rem(8);
  }

  &__tag {
    padding: var(--a-padding-x1) var(--a-padding-x3);
    background-color: var(--color-white);
    border-radius: var(--border-radius-x2);
  }

  &__title {
    @media (min-width: 768px) {
      max-width: 65%;
    }
  }

  &__img {
    position: absolute;
    right: -10%;
    bottom: -200%;

    // min-width: 100%;
    min-width: to-rem(470);
    height: 450%;

    img {
      width: 100%;
    }
  }
}
